web/public/data/dtds/concours.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Informations sur le concours -->
<!ELEMENT concours (organisateur?,points,programmation?,listeCriteres?,listeLieux?,listeObjectifs?,listePrix?,listeProprietes?,listeExportations?,publication?,listeDiffusions?,listeCategories?)>
<!ATTLIST concours id				ID					#REQUIRED>	<!-- Identifiant du concours -->
<!ATTLIST concours nom				CDATA				#REQUIRED>	<!-- Nom du concours -->
<!ATTLIST concours site				CDATA				#IMPLIED>	<!-- Site web du concours -->
<!ATTLIST concours lieu				CDATA				#IMPLIED>	<!-- Lieu du concours (pays, ville, ...) -->
<!ATTLIST concours email			CDATA				#IMPLIED>	<!-- Email de contact pour le concours -->
<!ATTLIST concours telephone		CDATA				#IMPLIED>	<!-- Numéro de téléphone de contact pour le concours -->
<!ATTLIST concours description		CDATA				#IMPLIED>	<!-- Description du concours -->
<!ATTLIST concours participants		(equipes|joueurs) 	"equipes">	<!-- Type de participants du concours -->
<!ATTLIST concours qualifications	(phases|grille) 	"phases">	<!-- Types de qualificiatives du concours -->

<!-- Informations sur l'organisateur du concours -->
<!ELEMENT organisateur EMPTY>
<!ATTLIST organisateur nom			CDATA	#REQUIRED>	<!-- Nom de l'organisateur -->
<!ATTLIST organisateur site			CDATA	#IMPLIED>	<!-- Site web de l'organisateur -->
<!ATTLIST organisateur lieu			CDATA	#IMPLIED>	<!-- Lieu de l'organisateur (pays, ville, ...) -->
<!ATTLIST organisateur email		CDATA	#IMPLIED>	<!-- Email de contact pour l'organisateur -->
<!ATTLIST organisateur telephone	CDATA	#IMPLIED>	<!-- Numéro de téléphone de contact pour l'organisateur -->
<!ATTLIST organisateur description	CDATA	#IMPLIED>	<!-- Description de l'organisateur -->

<!-- Points remportés en fonction du résultat des matchs -->
<!ELEMENT points EMPTY>
<!ATTLIST points victoire	CDATA	#REQUIRED> <!-- Points attribués en cas de victoire -->
<!ATTLIST points egalite	CDATA	#REQUIRED> <!-- Points attribués en cas d'égalité -->
<!ATTLIST points defaite	CDATA	#REQUIRED> <!-- Points attribués en cas de défaite -->

<!-- Informations de programmation -->
<!ELEMENT programmation EMPTY>
<!ATTLIST programmation	duree 		CDATA	#IMPLIED> <!-- Durée de chaque match (en minutes) -->
<!ATTLIST programmation	interval 	CDATA	#IMPLIED> <!-- Interval entre chaque match (en minutes) -->
<!ATTLIST programmation	pause 		CDATA	#IMPLIED> <!-- Pause minimale pour un participant entre chaque match (en minutes) -->

<!-- Liste des critères de classement des participants -->
<!ELEMENT listeCriteres (critere*)>

<!ELEMENT critere (critereNbPoints|critereNbVictoires|critereNbObjectifs)>
<!ATTLIST critere id ID #REQUIRED> <!-- Identifiant du critère -->

<!ELEMENT critereNbPoints EMPTY>
<!ELEMENT critereNbVictoires EMPTY>
<!ELEMENT critereNbObjectifs EMPTY>
<!ATTLIST critereNbObjectifs refObjectif IDREF #REQUIRED> <!-- Référence de l'objectif associé au critère de classement -->

<!-- Liste des lieux, emplacements et horaires -->
<!ELEMENT listeLieux (lieu*)>
<!ELEMENT lieu (listeHoraires?,listeEmplacements)>
<!ATTLIST lieu id			ID		#REQUIRED> 	<!-- Identifiant du lieu -->
<!ATTLIST lieu nom			CDATA	#REQUIRED> 	<!-- Nom du lieu -->
<!ATTLIST lieu lieu			CDATA	#IMPLIED> 	<!-- Lieu du lieu (pays, ville, ...) -->
<!ATTLIST lieu telephone	CDATA	#IMPLIED> 	<!-- Numéro de téléphone de contact pour le lieu -->
<!ATTLIST lieu email		CDATA	#IMPLIED> 	<!-- Email de contact pour le lieu -->
<!ATTLIST lieu description	CDATA	#IMPLIED> 	<!-- Description du lieu -->

<!ELEMENT listeHoraires (horaire)>
<!ELEMENT horaire EMPTY>
<!ATTLIST horaire id 	ID 		#REQUIRED>	<!-- Identifiant de l'horaire -->
<!ATTLIST horaire debut	CDATA 	#REQUIRED> 	<!-- Nombre de minutes depuis le début de la journée -->
<!ATTLIST horaire fin 	CDATA	#REQUIRED> 	<!-- Nombre de minutes depuis le début de la journée -->
<!ATTLIST horaire jours	CDATA 	#REQUIRED> 	<!-- Ou binaire sur les jours de la semaines indexés de 1 à 64 -->

<!ELEMENT listeEmplacements (emplacement*)>
<!ELEMENT emplacement EMPTY>
<!ATTLIST emplacement id			ID		#REQUIRED>	<!-- Identifiant de l'emplacement -->
<!ATTLIST emplacement nom			CDATA	#REQUIRED>	<!-- Nom de l'emplacement -->
<!ATTLIST emplacement description	CDATA	#IMPLIED>	<!-- Description de l'emplacement -->

<!-- Liste des objectifs à remplir au cours d'un match -->
<!ELEMENT listeObjectifs (objectif*)>
<!ELEMENT objectif (objectifPoints|objectifPourcentage|objectifNul)>
<!ATTLIST objectif id	ID	#REQUIRED> <!--	Identifiant de l'objectif -->

<!ELEMENT objectifPoints EMPTY>
<!ATTLIST objectifPoints nom				CDATA	#REQUIRED>	<!-- Nom de l'objectif -->
<!ATTLIST objectifPoints points				CDATA	#REQUIRED>	<!-- Nombre de points attribués au participant qui remporte cet objectif -->
<!ATTLIST objectifPoints borneParticipation	CDATA	#IMPLIED>	<!-- Borne que le nombre de points remportés au cours du match ne peut pas dépassé suite à l'ajout des points -->

<!ELEMENT objectifPourcentage EMPTY>
<!ATTLIST objectifPourcentage nom					CDATA	#REQUIRED>	<!-- Nom de l'objectif -->
<!ATTLIST objectifPourcentage pourcentage			CDATA	#REQUIRED>	<!-- Pourcentage du nombre de points remportés au cours du match attribué au score du participant qui remporte cet objecitf -->
<!ATTLIST objectifPourcentage borneAugmentation		CDATA	#IMPLIED>	<!-- Borne que l'augmentation du nombre de points remportés au cours du match ne peut pas dépassé -->
<!ATTLIST objectifPourcentage borneParticipation	CDATA	#IMPLIED>	<!-- Borne que le nombre de points remportés au cours du match ne peut pas dépassé suite à l'ajout des points -->

<!ELEMENT objectifNul EMPTY>
<!ATTLIST objectifNul nom	CDATA	#REQUIRED> <!-- Nom de l'objectif -->

<!-- Liste des prix à remporter -->
<!ELEMENT listePrix (prix*)>
<!ELEMENT prix EMPTY>
<!ATTLIST prix id		ID		#REQUIRED> <!-- Identifiant du prix -->
<!ATTLIST prix nom		CDATA	#REQUIRED> <!-- Nom du prix -->

<!-- Liste des propriétés de participant -->
<!ELEMENT listeProprietes (propriete*)>
<!ELEMENT propriete EMPTY>
<!ATTLIST propriete	id			ID								#REQUIRED>	<!-- Identifiant de la propriété -->
<!ATTLIST propriete	nom			CDATA							#REQUIRED>	<!-- Nom de la propriété -->
<!ATTLIST propriete	type		(entier|decimal|texte) 			"entier">	<!-- Type de la propriété -->
<!ATTLIST propriete	obligatoire	(oui|non) 						"oui">		<!-- S'agit-il d'un propriété obligatoire ? -->

<!-- Liste des exportations -->
<!ELEMENT listeExportations (exportation*)>
<!ELEMENT exportation (chemin,theme)>
<!ATTLIST exportation id			ID			#REQUIRED>	<!-- Identifiant de l'exportation -->
<!ATTLIST exportation nom			CDATA		#REQUIRED>	<!-- Nom de l'exportation -->
<!ATTLIST exportation automatique 	(oui|non)	"non">		<!-- S'agit-il d'une exportation automatique ? (executée à chaque enregistrement) -->

<!-- Exportation pour la publication -->
<!ELEMENT publication EMPTY>
<!ATTLIST publication refExportation IDREF	#REQUIRED> <!-- Référence de l'exportation associée -->

<!-- Chemin pour une exportation -->
<!ELEMENT chemin (cheminLocal|cheminFTP)>

<!ELEMENT cheminLocal EMPTY>
<!ATTLIST cheminLocal chemin	CDATA 	#REQUIRED> <!-- Chemin de destination -->

<!ELEMENT cheminFTP EMPTY>
<!ATTLIST cheminFTP host		CDATA			#REQUIRED>	<!-- Hote du serveur FTP -->
<!ATTLIST cheminFTP	username	CDATA			#REQUIRED>	<!-- Nom d'utilisateur du compte FTP -->
<!ATTLIST cheminFTP	password	CDATA			#REQUIRED>	<!-- Mot de passe du compte FTP -->
<!ATTLIST cheminFTP	port		CDATA			#REQUIRED>	<!-- Port d'accès au service FTP -->
<!ATTLIST cheminFTP	mode		(actif|passif) 	"passif">	<!-- Mode de connexion au serveur FTP -->
<!ATTLIST cheminFTP	path		CDATA			#REQUIRED>	<!-- Chemin de destination -->

<!-- Liste des diffusions -->
<!ELEMENT listeDiffusions (diffusion*)>
<!ATTLIST listeDiffusions hote CDATA #REQUIRED> <!-- Nom d'hote de la machine qui diffuse sur le réseau (aide pour traitements XSLT) -->
<!ELEMENT diffusion (theme)>
<!ATTLIST diffusion id		ID		#REQUIRED>	<!-- Identifiant de la diffusion -->
<!ATTLIST diffusion nom 	CDATA 	#REQUIRED>	<!-- Nom de la diffusion -->
<!ATTLIST diffusion port	CDATA	#REQUIRED>	<!-- Port de la diffusion -->

<!-- Theme pour une exportation/diffusion -->
<!ELEMENT theme (listeParametres?,listeFichiers?)>
<!ATTLIST theme	id		ID		#REQUIRED>	<!-- Identifiant du thème -->
<!ATTLIST theme	chemin	CDATA	#REQUIRED>	<!-- Chemin du thème (relatif à l'éxecutable de l'application) -->

<!ELEMENT listeParametres (parametre*)>
<!ELEMENT parametre EMPTY>
<!ATTLIST parametre	id		CDATA 	#REQUIRED>	<!-- Identifiant du paramètre (correspondant à l'identifiant du paramètre dans theme.dtd) -->
<!ATTLIST parametre	valeur	CDATA	#REQUIRED>	<!-- Valeur du paramètre -->

<!ELEMENT listeFichiers (fichier*)>
<!ELEMENT fichier EMPTY>
<!ATTLIST fichier id	CDATA 	#REQUIRED>	<!-- Identifiant du paramètre (correspondant à l'identifiant du fichier dans theme.dtd) -->
<!ATTLIST fichier cible	CDATA	#REQUIRED>	<!-- Chemin du fichier cible -->

<!-- Liste des catégories de participant -->
<!ELEMENT listeCategories (categorie*)>
<!ELEMENT categorie (classementCategoriePhasesQualificatives?,listePoules?,classementCategoriePhasesEliminatoires?,listePhasesEliminatoires?)>
<!ATTLIST categorie	id		ID		#REQUIRED>	<!-- Identifiant de la catégorie -->
<!ATTLIST categorie	nom		CDATA	#REQUIRED>	<!-- Nom de la catégorie -->

<!ELEMENT classementCategoriePhasesQualificatives (listeClassementParticipants)> <!-- Classement des participants aux phases qualificative au niveau de la catégorie (aide pour traitements XSLT) -->
<!ELEMENT classementCategoriePhasesEliminatoires (listeClassementParticipants)> <!-- Classement des participants aux phases éliminatoires au niveau de la catégorie (aide pour traitements XSLT) -->

<!-- Liste des poules de participants -->
<!ELEMENT listePoules (poule*)>
<!ELEMENT poule (listeParticipants?,classementPoulePhasesQualificatives?,listePhasesQualificatives?)>
<!ATTLIST poule id		ID		#REQUIRED>	<!-- Identifiant de la poule -->
<!ATTLIST poule nom		CDATA	#REQUIRED>	<!-- Nom de la poule -->

<!ELEMENT classementPoulePhasesQualificatives (listeClassementParticipants)> <!-- Classement des participants aux phases qualificatives au niveau de la poule (aide pour traitements XSLT) -->

<!-- Liste des participants -->
<!ELEMENT listeParticipants (participant*)>
<!ELEMENT participant (listeProprietesPossedees?,listePrixRemportes?)>
<!ATTLIST participant id					ID		#REQUIRED>	<!-- Identifiant du participant -->
<!ATTLIST participant nom					CDATA	#REQUIRED>	<!-- Nom du participant -->
<!ATTLIST participant ville					CDATA	#IMPLIED>	<!-- Ville du participant -->
<!ATTLIST participant statut				(absente|presente|homologuee|forfait|disqualifiee)	"absente">	<!-- Statut du participant -->
<!ATTLIST participant stand					CDATA	#IMPLIED>	<!-- Numéro de stand du participant -->
<!ATTLIST participant details				CDATA	#IMPLIED>	<!-- Détails du participant -->
<!ATTLIST participant rangPhasesQualifs 	CDATA	#IMPLIED> 	<!-- Rang aux phases qualificatives (aide pour traitements XSLT) -->
<!ATTLIST participant pointsPhasesQualifs 	CDATA 	#IMPLIED> 	<!-- Points remportés aux phases qualificatives (aide pour traitements XSLT) -->
<!ATTLIST participant rangPhasesElims 		CDATA 	#IMPLIED> 	<!-- Rang aux phases éliminatoires (aide pour traitements XSLT) -->
<!ATTLIST participant pointsPhasesElims 	CDATA 	#IMPLIED> 	<!-- Points remportés aux phases éliminatoires (aide pour traitements XSLT) -->

<!ELEMENT listeProprietesPossedees (proprietePossedee*)>
<!ELEMENT proprietePossedee EMPTY>
<!ATTLIST proprietePossedee refPropriete	IDREF 	#REQUIRED>	<!-- Référence de la propriété associée -->
<!ATTLIST proprietePossedee valeur			CDATA	#REQUIRED>	<!-- Valeur de la propriété -->

<!ELEMENT listePrixRemportes (prixRemporte*)>
<!ELEMENT prixRemporte EMPTY>
<!ATTLIST refPrix refPrix IDREF #REQUIRED>	<!-- Référence du prix associé -->

<!-- Phases qualificatives -->
<!ELEMENT listePhasesQualificatives (phaseQualificative*)>
<!ELEMENT phaseQualificative (classementPhaseQualificative,matchPhaseQualificative*)>
<!ATTLIST phaseQualificative id 	ID		#REQUIRED>	<!-- Identifiant de la phase qualificative -->
<!ATTLIST phaseQualificative numero	CDATA	#REQUIRED>	<!-- Numéro de la phase qualificative indicé de 0 à N (aide pour traitements XSLT) -->

<!ELEMENT classementPhaseQualificative (listeClassementParticipants)> <!-- Classement des participants sur une phase qualificative (aide pour traitements XSLT) -->

<!ELEMENT matchPhaseQualificative (participation,participation)>
<!ATTLIST matchPhaseQualificative id		ID		#REQUIRED>
<!ATTLIST matchPhaseQualificative details	CDATA	#REQUIRED>	<!-- Détails du match -->
<!ATTLIST matchPhaseQualificative timestamp	CDATA	#IMPLIED>	<!-- Timestamp du match (en secondes) -->

<!-- Phases eliminatoires -->
<!ELEMENT listePhasesEliminatoires (phaseEliminatoire*)>
<!ATTLIST listePhasesEliminatoires id CDATA #REQUIRED>	<!-- Identifiant de la liste des phases éliminatoires -->

<!ELEMENT phaseEliminatoire (matchPhaseEliminatoire*)>
<!ATTLIST phaseEliminatoire numero CDATA #REQUIRED>	<!-- Numéro de la phase éliminatoire indicé de 0 à N -->

<!ELEMENT matchPhaseEliminatoire (participation?,participation?)>
<!ATTLIST matchPhaseEliminatoire id 				ID #REQUIRED>		<!-- Identifiant du match -->
<!ATTLIST matchPhaseEliminatoire details			CDATA #REQUIRED>	<!-- Détails du match -->
<!ATTLIST matchPhaseEliminatoire grandeFinale 		(oui|non) #IMPLIED> <!-- Indique s'il s'agit de la grande finale -->
<!ATTLIST matchPhaseEliminatoire petiteFinale 		(oui|non) #IMPLIED> <!-- Indique s'il s'agit de la petite finale -->
<!ATTLIST matchPhaseEliminatoire timestamp 			CDATA #IMPLIED> 	<!-- Timestamp du match (en secondes) -->
<!ATTLIST matchPhaseEliminatoire refMatchPrecedantA	IDREF #IMPLIED> 	<!-- Référence du match précédant par le haut (non fourni si pas de match précédant) -->
<!ATTLIST matchPhaseEliminatoire refMatchPrecedantB	IDREF #IMPLIED> 	<!-- Référence du match précédant par le bas (non fourni si pas de match précédant) -->

<!-- Participation pour les matchs de phases qualificatives/éliminatoires -->
<!ELEMENT participation (objectifRempli*)>
<!ATTLIST participation id 				ID 		#REQUIRED>	<!-- Identifiant de la participation -->
<!ATTLIST participation refParticipant 	IDREF 	#IMPLIED>	<!-- Référence du participant (non fourni si participant fantome) -->
<!ATTLIST participation resultat 		(attente|victoire|egalite|defaite|forfait)	"attente">	<!-- Résultat de la participation -->
<!ATTLIST participation points 			CDATA 	#REQUIRED> 	<!-- Points remportés par le participant (aide pour traitements XSLT) -->

<!ELEMENT objectifRempli EMPTY>
<!ATTLIST objectifRempli id 			ID 		#REQUIRED>	<!-- Identifiant de l'objectif rempli -->
<!ATTLIST objectifRempli refObjectif	IDREF	#REQUIRED>	<!-- Référence de l'objectif associé -->
<!ATTLIST objectifRempli quantite		CDATA	#REQUIRED>	<!-- Quantité d'objectifs remplis -->

<!-- Classement des participants (aide pour traitements XSLT) -->
<!ELEMENT listeClassementParticipants (classementParticipant*)>
<!ELEMENT classementParticipant EMPTY>
<!ATTLIST classementParticipant
	refParticipant	IDREF	#REQUIRED
	rang 			CDATA 	#REQUIRED
>